@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Quicksand:wght@300..700');
/*font-family: font-family: 'Oooh Baby'; / font-family: 'Quicksand';*/

* {
    box-sizing: border-box;
}

.fondo-pantalla {
   background-image: url('imagenes/portada/fondepantalla2.jpg');
   background-repeat: no-repeat;         
   background-size: cover;               
}

h1, h2, h3 {
    font-family: 'Oooh Baby', sans-serif;
    font-weight: bold 400;
}

h4, h5, h6 {
    font-family: 'Oooh Baby', sans-serif;
    font-weight: bold 300;
}

article, div, input, label {
    font-family: 'Quicksand', sans-serif;
}

div p {
    color: rgb(86, 96, 105);
}

nav {
   background-color: FAEBD7;
}

nav img {
    width: 200px;       
    height: auto;       
    display: block;
    margin: auto; 
    filter: drop-shadow(6px 1px 2px rgba(1, 29, 7, 0.7));
}

body {
    margin: 0;
}

.barra {
    border-top: 2px solid rgba(22, 56, 34, 0.4);
    border-bottom: 2px solid rgba(22, 56, 34, 0.4);
}

.barra2 {
    border-bottom: 2px solid rgba(22, 56, 34, 0.4);
}

.fondo-inicio {
    background-color: #f7f4f4;
}


/* PORTADA - INDEX */

#galeriaCarouselPortada img {
    width: 100%;
    height: 600px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.video-portada {
    margin: auto;
    width: 100%;
    height: auto;
    object-fit: fill;
    display: block;
}

@media (min-width: 768px) {
    .video-portada {
        height: auto;
    }
}


/* TIENDAS */

.tarjeta:hover {
    transform: translateY(-5px);
}

.imag-tiendas {
    border-radius: 0 !important;
    margin-bottom: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

#adidasLogo, #nikeLogo, #pullLogo, 
#mangoLogo, #springLogo, #fnacLogo {
    height: 100px; 
    object-fit: contain;
    cursor: pointer;
}

#imagenTienda{
    aspect-ratio: 16/9;
    object-fit: cover;
}


/* RESTAURANTES */

.restaurante-imagen{
    border-radius: 0 !important;
    margin-bottom: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

#imagenLogo{
    height: 100px; 
    object-fit: contain;
    cursor: pointer;
}

#imagenRestaurantes{
    aspect-ratio: 16/9;
    object-fit: cover;
}


/* OCIO */

.logo-establecimiento {
    max-width: 150px;
    height: auto;
    margin-bottom: 1rem;
    display: block;
}

.establecimiento {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.establecimiento h3 {
    margin-top: 1rem;
    color: #333;
}

.establecimiento .horario,
.establecimiento .telefono {
    color: #666;
    margin-bottom: 0.5rem;
}

.establecimiento .descripcion {
    margin: 1rem 0;
    line-height: 1.6;
}

/* CINE */

#contenedor-peliculas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

  .btn-cine {
    color: #8EBC8E;
    border: 3px solid #8EBC8E;
    border-radius: 12px;
    outline: none;
    box-shadow: none;
    padding: 7px 15px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .btn-cine:hover {
    background-color: #8EBC8E;
    color: white;
  }

/* VISITANOS */

.welcome-text {
    max-width: 800px;
    margin: 0 auto;
}

.logos-horario {
    width: 35px; 
    height: 35px; 
    margin-right: 8px; 
    margin-top: -5px;
}

#plano {
    height: auto;
    width: 100%;
}

/* REGISTRO */

.obligatorio {
    color: red;
}

/* AVISO LEGAL */

.accordion {
  gap: 1rem;
  padding: 1rem; 
  bottom: 80px;
}

.accordion-item {
  border: 1px solid rgb(232, 233, 204);
  border-radius: 5px;
  overflow: hidden; 
  background-color: rgb(232, 233, 204); 
}

.accordion-button {
  background-color: rgb(232, 233, 204) !important;
  color: #000 !important;
  border-radius: 0; 
}

.accordion-button:not(.collapsed) {
  background-color: rgb(232, 233, 204) !important;
  color: #000 !important;
  box-shadow: none !important;
}

.accordion-body {
  background-color: #f8f9fa;
  padding: 1rem;
}

/* LOGOS ESTABLECIMIENTOS */

.logo-container {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    max-height: 120px;
    max-width: 95%;
    object-fit: contain;
    padding: 1rem;
}

/* VARIANTE PEQUEÑA LOGOS */

.logo-container.small {
    height: 100px;
}

.logo-container.small img {
    max-height: 80px;
    max-width: 80%;
}

.modal-text {
    color: #000000 !important;
}

.modal-text p, .modal-text li {
    color: #000000 !important;
}

/* FOOTER */

footer {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background-color:#8EBC8E;
}

.social a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.social a:hover {
    text-decoration: underline wavy;
    text-underline-offset: 4px;
}